@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poor+Story&family=Quicksand:wght@300&display=swap');
*{
    background-color: #14151d;
    color: white;
    padding: 5px;
}